body{
    background-image: url(seven.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}
.card{
    border: 1px solid black;
    text-align: center;
    width: 300px;
    border-radius: 10px;
}
button{
    border-radius: 20px;
    background: black;
    color: white;
    padding: 10px 50px 10px 50px;
}