body{
    background-image: url(two.jpg);
    background-repeat: no repeat;
    background-size: cover;
    background-position: center;
}
h2{
    text-align: center;
}
     /* GLASSMORPHISIM */ 
form{
    padding: 40px 40px 40px 40px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 40%;
    border: 2px solid white;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    backdrop-filter: blur(20px);
}
input{
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    outline: none;

}
    
button{

    font-weight: 600;
    border-radius: 50px;
    border: none;
    width:100%;
    padding: 15px 10px 15px 10px;
    margin-bottom: 10px;
}
label{
    font-size:16px;
}